h1{
      font-size:100px;
      color:#005ce6;
}
img{
      height:500px;
      width:auto;
}
#special{
          font-size:40px;
          color:#ffff00;
}
body{
        background-image:url("verde.jpg");
}
#morelia{ font-size:40px;
          color:#8600b3;}
#patzcuaro{ font-size:40px;
            color:#8600b3;}
#jiquilpan{font-size:40px;
            color:#8600b3;}
#quiroga{font-size:40px;
          color:#8600b3;}
#zamora{font-size:40px;
        color:#8600b3;}
#lazaro{font-size:40px;
         color:#8600b3;}
#comida{font-size:40px;
        colo:#8600b3;}
