#rainbow{
      font-size:100px;
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text
}
img{
      height:500px;
      width:auto;
}
#special{
          font-size:40px;
          color:#ffff00;
}
body{
        background-image:url("verde.jpg");
}
#morelia{ font-size:40px;
          color:#8600b3;}
#patzcuaro{ font-size:40px;
            color:#8600b3;}
#jiquilpan{font-size:40px;
            color:#8600b3;}
