h1{
      font-size:100px;
      color:#007acc;
}
img{
      height:500px;
      width:auto;
}
#special{
          font-size:40px;
          color:#ffff00;
}
body{
        background-image:url("verde.jpg");
}
#morelia{ font-size:40px;
          color:#8600b3;}
#patzcuaro{ font-size:40px;
            color:#8600b3;}
